.pin-1-icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.pin-1-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cch-mng-thng {
  position: relative;
  line-height: 22px;
  white-space: nowrap;
}
.left-rect {
  height: 21px;
  width: 1px;
  position: relative;
  background-color: var(--color-border);
}
.frame-parent6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.phone-1-icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.phone-1-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.span20 {
  font-weight: 500;
}
.bn-cn-tr-container {
  position: relative;
  line-height: 22px;
  white-space: nowrap;
}
.div84,
.frame-parent7,
.left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent7 {
  flex: 1;
  gap: var(--gap-8xs);
}
.div84,
.left {
  max-width: 100%;
}
.div84 {
  flex: 1;
  gap: var(--gap-lgi);
}
.left {
  width: 484px;
}
.ting-vit {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 107px;
  white-space: nowrap;
}
.icon11 {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.div85,
.lang-icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lang-icon {
  flex-direction: column;
  padding: var(--padding-4xs-5) 0 0;
}
.div85 {
  flex-direction: row;
  gap: var(--gap-11xs);
}
.help-rect {
  height: 21px;
  width: 1px;
  position: relative;
  background-color: var(--color-border);
}
.tr-gip {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 53px;
  white-space: nowrap;
  cursor: pointer;
}
.vector-icon8 {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.help-button,
.help-label,
.vector-wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper2 {
  flex-direction: column;
  padding: var(--padding-4xs-5) 0 0;
}
.help-button,
.help-label {
  flex-direction: row;
  gap: var(--gap-12xs);
}
.help-button {
  gap: var(--gap-base);
}
.store-rect {
  height: 21px;
  width: 1px;
  position: relative;
  background-color: var(--color-border);
}
.tm-ca-hng {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 86px;
  white-space: nowrap;
}
.store-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.social-rect {
  height: 21px;
  width: 1px;
  position: relative;
  background-color: var(--color-border);
}
.div87,
.div88,
.div89,
.div90 {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 8px;
}
.div88,
.div89,
.div90 {
  min-width: 14px;
}
.div89,
.div90 {
  min-width: 13px;
}
.social-links {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-mini);
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-text-dark);
  font-family: var(--font-abeezee);
}
.div86,
.rights,
.social-links {
  justify-content: flex-start;
}
.div86 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-3xs);
}
.rights {
  gap: var(--gap-4xl);
}
.left-parent,
.rights,
.top-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.left-parent {
  width: 1403px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.top-inner {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-4xl) 0 var(--padding-xl);
  box-sizing: border-box;
}
.top-separator {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--color-border);
}
.top3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  max-width: 100%;
}
.ezshop {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 94px;
  cursor: pointer;
}
.logo,
.logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-wrapper {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
}
.search-rect {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  border: 1px solid var(--b269);
  box-sizing: border-box;
}
.danh-mc1 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 68px;
  white-space: nowrap;
}
.dropdown-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-8xs-5) 0 0;
}
.dropdown-icon {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.dropdown-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
}
.dropdown-separator {
  height: 28px;
  width: 1px;
  position: relative;
  border-radius: var(--br-7xs) 0 0 var(--br-7xs);
  background-color: var(--color-mediumaquamarine);
}
.categories3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 1;
}
.tm-kim {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 62px;
  white-space: nowrap;
  z-index: 1;
}
.search-input,
.tm-kim-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tm-kim-wrapper {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  color: var(--color-text-light);
}
.search-input {
  width: 205px;
  flex-direction: row;
  gap: var(--gap-xl);
}
.button-icon {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 1;
}
.search,
.search-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.search {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-2xs) var(--padding-base) var(--padding-2xs)
    var(--padding-8xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  gap: var(--gap-xl);
}
.action-buttons {
  align-self: stretch;
  width: 50px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumseagreen-100);
  cursor: pointer;
}
.yu-thch1 {
  margin: 0;
}
.sn-phm1 {
  margin: 0;
  font-size: var(--body-bold-size);
  font-weight: 500;
}
.yu-thch-sn-container {
  position: relative;
  line-height: 22px;
}
.action-labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.heart-1-icon1 {
  height: 22px;
  width: 22px;
  position: absolute;
  margin: 0 !important;
  bottom: 13px;
  left: 14px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.items6 {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-mini);
}
.account-child {
  align-self: stretch;
  width: 50px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumseagreen-100);
  cursor: pointer;
}
.ng-nhp {
  margin: 0;
}
.ti-khon {
  margin: 0;
  font-size: var(--body-bold-size);
  font-weight: 500;
}
.ng-nhp-ti-container {
  position: relative;
  line-height: 22px;
}
.ng-nhp-ti-khon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.profile-1-icon {
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 10px);
  left: 15px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.account,
.cart2 {
  position: relative;
}
.account {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.cart2 {
  width: 33px;
  line-height: 22px;
  display: none;
  font-family: var(--font-inter);
}
.cart-rect {
  height: 50px;
  width: 50px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  border-radius: var(--br-7xs);
  background-color: var(--b269);
}
.shopping-cart-1-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.cart-button,
.cart-icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cart-button {
  flex-direction: row;
  position: relative;
}
.cart-icon {
  flex-direction: column;
  padding: var(--padding-xl) 0 0;
}
.number-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--bg-2);
}
.counter {
  position: absolute;
  top: 20%;
  left: 33.33%;
  display: inline-block;
  min-width: 6px;
  z-index: 1;
}
.number {
  height: 15px;
  width: 15px;
  position: relative;
  z-index: 1;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-100);
}
.span21 {
  text-decoration: underline;
}
.p {
  margin: 0;
}
.thanh-ton1 {
  margin: 0;
  font-size: var(--body-bold-size);
  font-weight: 500;
}
.thanh-ton {
  position: relative;
  line-height: 22px;
}
.cart-total {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-6xs) 0 0;
  font-size: var(--font-size-smi);
  color: var(--color-text-dark);
}
.cart-total,
.cart1,
.right-box {
  display: flex;
  justify-content: flex-start;
}
.cart1 {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-8xs) var(--padding-mini);
  gap: var(--gap-5xs-5);
  font-size: var(--regular-size);
  color: var(--bg-white);
}
.right-box {
  gap: var(--gap-mid);
  max-width: 100%;
  font-size: var(--font-size-smi);
}
.center,
.right-box,
.search-navigation {
  flex-direction: row;
  align-items: flex-end;
}
.search-navigation {
  width: 1139px;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
  font-size: var(--medium2-size);
  font-family: var(--caption);
}
.center {
  width: 1440px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.center,
.content,
.top-parent {
  display: flex;
  max-width: 100%;
}
.content {
  width: 1880px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  font-family: var(--font-open-sans);
}
.top-parent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mini);
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-text-dark);
  font-family: var(--caption);
}
.bottom-separator {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--color-border);
}
.categories-rect {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--b269);
}
.category-icons,
.category-icons1,
.category-icons2 {
  position: absolute;
  top: 0;
  left: 5px;
  background-color: var(--bg-white);
  width: 15px;
  height: 2px;
}
.category-icons1,
.category-icons2 {
  top: 8px;
  left: 0;
  width: 20px;
}
.category-icons2 {
  top: 16px;
  width: 15px;
}
.category-icons-parent {
  width: 20px;
  height: 18px;
  position: relative;
}
.frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.danh-mc2 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 79px;
}
.category-name {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
}
.category-icon {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.categories4,
.category-icon-wrapper,
.group-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.category-icon-wrapper {
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
}
.categories4,
.group-div {
  flex-direction: row;
}
.group-div {
  flex: 1;
  gap: var(--gap-mini);
  z-index: 1;
}
.categories4 {
  width: 270px;
  padding: var(--padding-base) var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
  position: relative;
}
.trang-ch1 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
  min-width: 79px;
  cursor: pointer;
}
.nav-icons {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.bottom-links,
.link-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-icons {
  flex-direction: column;
  padding: var(--padding-mini-5) 0 0;
}
.bottom-links {
  flex-direction: row;
  gap: var(--gap-10xs);
}
.sn-phm2 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
  min-width: 79px;
  cursor: pointer;
}
.vector-icon9 {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.bottom-links1,
.vector-wrapper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper3 {
  flex-direction: column;
  padding: var(--padding-mini-5) 0 0;
}
.bottom-links1 {
  flex-direction: row;
  gap: var(--gap-9xs);
}
.lin-h {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
  min-width: 57px;
  cursor: pointer;
}
.vector-icon10 {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.bottom-links2,
.vector-wrapper4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper4 {
  flex-direction: column;
  padding: var(--padding-mini-5) 0 0;
}
.bottom-links2 {
  flex-direction: row;
  gap: var(--gap-10xs);
}
.bi-vit {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
  min-width: 60px;
  cursor: pointer;
}
.vector-icon11 {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.bottom-links3,
.nav,
.vector-wrapper5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper5 {
  flex-direction: column;
  padding: var(--padding-mini) 0 0;
}
.bottom-links3,
.nav {
  flex-direction: row;
  gap: var(--gap-9xs);
}
.nav {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.bottom-nav,
.navigation-categories {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.bottom-nav {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  min-width: 287px;
  color: var(--color-text-dark);
}
.navigation-categories {
  width: 742.5px;
  flex-direction: row;
  gap: var(--gap-12xl);
}
.u-i-trong {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  white-space: pre-wrap;
}
.right-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.highlight,
.nav-categories {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.highlight {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  text-align: right;
  color: var(--color-text-dark);
}
.nav-categories {
  width: 1400px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.bottom,
.bottom-content,
.header-7 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.bottom-content {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.bottom,
.header-7 {
  flex-direction: column;
  justify-content: flex-start;
}
.header-7 {
  background-color: var(--bg-white);
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.breadcrumb-items,
.trang-ch2 {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.trang-ch2 {
  flex: 1;
  min-width: 68px;
  cursor: pointer;
}
.breadcrumb-items {
  min-width: 8px;
}
.chnh-sch {
  align-self: stretch;
  width: 69px;
  display: none;
  cursor: pointer;
}
.chnh-sch,
.chnh-sch-bo,
.div91 {
  position: relative;
  line-height: 22px;
}
.div91 {
  align-self: stretch;
  width: 8px;
  display: none;
}
.chnh-sch-bo {
  flex: 1;
  color: var(--color-text-light);
  display: inline-block;
  min-width: 62px;
}
.breadcrumb2 {
  width: 152px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.gi-hng {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 600;
  font-family: inherit;
}
.gi-hng-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: center;
  font-size: var(--h1-size);
}
.breadcrumb-container,
.breadcrumb1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.breadcrumb1 {
  width: 824px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.breadcrumb-container {
  width: 1344px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-8xl);
  box-sizing: border-box;
  font-size: var(--medium2-size);
}
.breadcrumb-container,
.mua-thm {
  color: var(--color-text-dark);
}
.span22 {
  text-decoration: underline;
}
.c-min-ph {
  color: var(--color-text-dark);
}
.mua-thm-312000-container {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.shipping-banner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-17xl) 0 var(--padding-21xl);
}
.bar-icon {
  align-self: stretch;
  height: 40px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.content-block {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  max-width: 100%;
}
.inner-content,
.table-child {
  align-self: stretch;
  box-sizing: border-box;
}
.inner-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.table-child {
  height: 619px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--bg-white);
  border: 1px solid var(--color-border);
  display: none;
}
.table-head-child {
  height: 70px;
  width: 923px;
  position: relative;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  background-color: var(--f1fff2);
  display: none;
  max-width: 100%;
}
.n-gi,
.sn-phm3 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  min-width: 76px;
  z-index: 1;
}
.n-gi {
  min-width: 62px;
}
.price-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
}
.hy,
.s-lng,
.tng {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  min-width: 77px;
  z-index: 1;
}
.hy,
.tng {
  min-width: 43px;
}
.hy {
  min-width: 31px;
}
.quantity-actions-header {
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-55xl);
}
.quantity-actions-header,
.table-head,
.table-header-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.table-head {
  flex: 1;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  background-color: var(--f1fff2);
  justify-content: space-between;
  padding: var(--padding-9xl) 66px var(--padding-4xl) var(--padding-32xl);
  gap: var(--gap-xl);
  z-index: 1;
}
.table-header-row {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  text-align: left;
}
.image-65-icon1 {
  width: 93px;
  height: 93px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.product-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
}
.o-thun-tay {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  z-index: 1;
}
.size1 {
  text-transform: capitalize;
  font-weight: 600;
}
.m1 {
  line-height: 150%;
}
.mu-sc-xm,
.size-m1 {
  position: relative;
  z-index: 1;
}
.size-m1 {
  color: var(--color);
  display: inline-block;
  min-width: 49px;
}
.mu-sc-xm {
  font-size: var(--body-bold-size);
  line-height: 23px;
  font-family: var(--medium);
}
.product-details1,
.product-info2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-details1 {
  align-self: stretch;
  gap: var(--gap-8xs);
}
.product-info2 {
  width: 183px;
  padding: var(--padding-8xl) 0 0;
  box-sizing: border-box;
  text-align: left;
}
.span23 {
  text-decoration: underline;
}
.div92 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  min-width: 73px;
  z-index: 1;
}
.price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xl) var(--padding-6xl) 0 0;
}
.minus-item,
.quantity-item {
  background-color: var(--bg-white);
  display: none;
}
.quantity-item {
  height: 42px;
  width: 110px;
  position: relative;
  border-radius: var(--br-41xl);
  border: 1px solid var(--color-border);
  box-sizing: border-box;
  flex-shrink: 0;
}
.minus-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  width: 100%;
  height: 100%;
}
.button-icons1 {
  position: absolute;
  top: 16px;
  left: 10px;
  background-color: var(--color-text-dark);
  width: 1px;
  height: 10px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  z-index: 1;
}
.minus1,
.quantity-count {
  position: relative;
  z-index: 1;
}
.minus1 {
  height: 30px;
  width: 30px;
  border-radius: var(--br-11xl);
  background-color: var(--bg-white);
  flex-shrink: 0;
}
.quantity-count {
  line-height: 150%;
  display: inline-block;
  min-width: 10px;
}
.quantity-value1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.plus-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--bg-4);
  width: 100%;
  height: 100%;
  display: none;
}
.minus-icon1 {
  position: absolute;
  top: 0;
  left: 4.5px;
  background-color: var(--color-text-dark);
  width: 1px;
  height: 10px;
}
.minus-icon-group,
.plus-icon1 {
  position: absolute;
  height: 10px;
  z-index: 1;
}
.plus-icon1 {
  top: 5.5px;
  left: 0;
  background-color: var(--color-text-dark);
  width: 1px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.minus-icon-group {
  top: 10px;
  left: 10px;
  width: 10px;
}
.plus1 {
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--bg-4);
  flex-shrink: 0;
  z-index: 1;
}
.quantity-controls,
.quantity2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.quantity2 {
  border-radius: var(--br-41xl);
  background-color: var(--bg-white);
  border: 1px solid var(--color-border);
  overflow-x: auto;
  flex-direction: row;
  padding: var(--padding-9xs);
  gap: var(--gap-mini);
  z-index: 1;
}
.quantity-controls {
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-9xs) 0 0;
  text-align: center;
}
.span24 {
  text-decoration: underline;
}
.div93 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  min-width: 77px;
  z-index: 1;
}
.price-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xl) var(--padding-5xl) 0 0;
}
.close-1-icon {
  width: 14px;
  height: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.close-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xl) 0 0;
}
.product-row,
.table-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.product-row {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.table-content {
  width: 893px;
  justify-content: flex-start;
  padding: 0 var(--padding-24xl) var(--padding-18xl);
  box-sizing: border-box;
}
.row-separator {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--color-border);
  z-index: 1;
}
.image-66-icon {
  width: 93px;
  height: 93px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
}
.o-thun-tay1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  z-index: 1;
}
.size2 {
  text-transform: capitalize;
  font-weight: 600;
}
.m2 {
  line-height: 150%;
}
.mu-sc-xm1,
.size-m2 {
  position: relative;
  z-index: 1;
}
.size-m2 {
  color: var(--color);
  display: inline-block;
  min-width: 49px;
}
.mu-sc-xm1 {
  font-size: var(--body-bold-size);
  line-height: 23px;
  font-family: var(--medium);
}
.details-container,
.info-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.details-container {
  align-self: stretch;
  gap: var(--gap-8xs);
}
.info-wrapper5 {
  width: 183px;
  padding: var(--padding-8xl) 0 0;
  box-sizing: border-box;
  text-align: left;
}
.span25 {
  text-decoration: underline;
}
.div94 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  min-width: 73px;
  z-index: 1;
}
.price-cells {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-6xl) 0 0;
}
.minus-inner,
.quantity-inner {
  background-color: var(--bg-white);
  display: none;
}
.quantity-inner {
  height: 42px;
  width: 110px;
  position: relative;
  border-radius: var(--br-41xl);
  border: 1px solid var(--color-border);
  box-sizing: border-box;
  flex-shrink: 0;
}
.minus-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  width: 100%;
  height: 100%;
}
.control-icons {
  position: absolute;
  top: 16px;
  left: 10px;
  background-color: var(--color-text-dark);
  width: 1px;
  height: 10px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  z-index: 1;
}
.minus2 {
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--bg-white);
  flex-shrink: 0;
  z-index: 1;
}
.quantity-display1 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 10px;
  z-index: 1;
}
.counter1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.plus-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--bg-4);
  width: 100%;
  height: 100%;
  display: none;
}
.minus-symbol {
  position: absolute;
  top: 0;
  left: 4.5px;
  background-color: var(--color-text-dark);
  width: 1px;
  height: 10px;
}
.minus-symbol-parent,
.plus-symbol {
  position: absolute;
  height: 10px;
  z-index: 1;
}
.plus-symbol {
  top: 5.5px;
  left: 0;
  background-color: var(--color-text-dark);
  width: 1px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.minus-symbol-parent {
  top: 10px;
  left: 10px;
  width: 10px;
}
.plus2 {
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--bg-4);
  flex-shrink: 0;
  z-index: 1;
}
.quantity-wrapper,
.quantity3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.quantity3 {
  border-radius: var(--br-41xl);
  background-color: var(--bg-white);
  border: 1px solid var(--color-border);
  overflow-x: auto;
  flex-direction: row;
  padding: var(--padding-9xs);
  gap: var(--gap-mini);
  z-index: 1;
}
.quantity-wrapper {
  flex-direction: column;
  padding: var(--padding-smi) var(--padding-9xs) 0 0;
  text-align: center;
}
.span26 {
  text-decoration: underline;
}
.div95 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  min-width: 77px;
  z-index: 1;
}
.price-cells1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-5xl) 0 0;
}
.close-2-icon {
  width: 14px;
  height: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.close-2-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xl) 0 0;
}
.price-columns,
.product-row1,
.product-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.price-columns {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.product-row1,
.product-wrapper {
  justify-content: flex-start;
  box-sizing: border-box;
}
.product-wrapper {
  width: 893px;
  flex-direction: row;
  padding: 0 var(--padding-24xl);
}
.product-row1 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-3xl);
}
.empty-space,
.empty-space-child {
  background-color: var(--color-border);
}
.empty-space-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.empty-space {
  align-self: stretch;
  height: 1px;
  position: relative;
  z-index: 1;
}
.image-67-icon {
  width: 93px;
  height: 93px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.image-67-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
}
.o-thun-tay2 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  z-index: 1;
}
.size3 {
  text-transform: capitalize;
  font-weight: 600;
}
.m3 {
  line-height: 150%;
}
.mu-sc-xm2,
.size-m3 {
  position: relative;
  z-index: 1;
}
.size-m3 {
  color: var(--color);
  display: inline-block;
  min-width: 49px;
}
.mu-sc-xm2 {
  font-size: var(--body-bold-size);
  line-height: 23px;
  font-family: var(--medium);
}
.content-area,
.o-thun-tay-ngn-c-trn-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.o-thun-tay-ngn-c-trn-parent {
  align-self: stretch;
  gap: var(--gap-8xs);
}
.content-area {
  width: 183px;
  padding: var(--padding-8xl) 0 0;
  box-sizing: border-box;
  text-align: left;
}
.span27 {
  text-decoration: underline;
}
.div96 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  min-width: 73px;
  z-index: 1;
}
.value-elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xl) var(--padding-7xl) 0 0;
}
.minus-child1,
.quantity-child1 {
  background-color: var(--bg-white);
  display: none;
}
.quantity-child1 {
  height: 42px;
  width: 110px;
  position: relative;
  border-radius: var(--br-41xl);
  border: 1px solid var(--color-border);
  box-sizing: border-box;
  flex-shrink: 0;
}
.minus-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  width: 100%;
  height: 100%;
}
.icons3 {
  position: absolute;
  top: 16px;
  left: 10px;
  background-color: var(--color-text-dark);
  width: 1px;
  height: 10px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  z-index: 1;
}
.minus3,
.quantity5 {
  position: relative;
  z-index: 1;
}
.minus3 {
  height: 30px;
  width: 30px;
  border-radius: var(--br-11xl);
  background-color: var(--bg-white);
  flex-shrink: 0;
}
.quantity5 {
  line-height: 150%;
  display: inline-block;
  min-width: 10px;
}
.number-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.plus-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--bg-4);
  width: 100%;
  height: 100%;
  display: none;
}
.minus-mark {
  position: absolute;
  top: 0;
  left: 4.5px;
  background-color: var(--color-text-dark);
  width: 1px;
  height: 10px;
}
.minus-mark-parent,
.plus-mark {
  position: absolute;
  height: 10px;
  z-index: 1;
}
.plus-mark {
  top: 5.5px;
  left: 0;
  background-color: var(--color-text-dark);
  width: 1px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.minus-mark-parent {
  top: 10px;
  left: 10px;
  width: 10px;
}
.plus3 {
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--bg-4);
  flex-shrink: 0;
  z-index: 1;
}
.adjustment-panel,
.quantity4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.quantity4 {
  border-radius: var(--br-41xl);
  background-color: var(--bg-white);
  border: 1px solid var(--color-border);
  overflow-x: auto;
  flex-direction: row;
  padding: var(--padding-9xs);
  gap: var(--gap-mini);
  z-index: 1;
}
.adjustment-panel {
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-8xs) 0 0;
  text-align: center;
}
.span28 {
  text-decoration: underline;
}
.div97 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  min-width: 77px;
  z-index: 1;
}
.value-elements1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xl) var(--padding-6xl) 0 0;
}
.close-3-icon {
  width: 14px;
  height: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.close-3-wrapper,
.price-structure {
  display: flex;
  align-items: flex-start;
}
.close-3-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xl) 0 0;
}
.price-structure {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.additional-row,
.price-structure-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.price-structure-wrapper {
  width: 892px;
  flex-direction: row;
  padding: 0 var(--padding-24xl);
  box-sizing: border-box;
}
.additional-row {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-7xl);
}
.sidebar-child,
.table {
  border-radius: var(--br-7xs);
  background-color: var(--bg-white);
  border: 1px solid var(--color-border);
  box-sizing: border-box;
  max-width: 100%;
}
.table {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-34xl);
  gap: var(--gap-2xl);
  min-width: 601px;
}
.sidebar-child {
  width: 448px;
  height: 371px;
  position: relative;
  display: none;
}
.tng-thanh-ton {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.gim-gi,
.tng-n-hng,
.tng-ph-vn {
  margin: 0;
}
.tng-n-hng-container {
  height: 90px;
  position: relative;
  line-height: 30px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  z-index: 1;
}
.span29 {
  text-decoration: underline;
}
.p1 {
  margin: 0;
}
.span30 {
  text-decoration: underline;
}
.p2 {
  margin: 0;
}
.span31 {
  text-decoration: underline;
}
.p3 {
  margin: 0;
}
.div98 {
  height: 90px;
  position: relative;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 600;
  text-align: right;
  display: inline-block;
  z-index: 1;
}
.breakdown,
.total-title {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.breakdown {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--medium2-size);
}
.total-title {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.checkout-button-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--color-border);
  z-index: 1;
}
.tng-thanh-ton1 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 113px;
  z-index: 1;
}
.payment-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.span32 {
  text-decoration: underline;
}
.div99 {
  position: relative;
  font-size: var(--body-bold-size);
  line-height: 28px;
  font-weight: 600;
  text-align: right;
  display: inline-block;
  min-width: 98px;
  z-index: 1;
}
.checkout-button,
.label-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.checkout-button {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.shop-now10 {
  position: relative;
  line-height: 150%;
  cursor: pointer;
}
.checkout-button-parent,
.large-button-radius-613 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.large-button-radius-613 {
  box-shadow: var(--button-shadow);
  border-radius: var(--br-7xs);
  background-color: var(--b269);
  border: 1px solid var(--b269);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-xl);
  white-space: nowrap;
  cursor: pointer;
  z-index: 1;
  text-align: center;
  font-size: var(--body-bold-size);
  color: var(--f1fff2);
}
.checkout-button-parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xl);
  font-size: var(--medium2-size);
}
.sidebar,
.table-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.sidebar {
  width: 448px;
  border-radius: var(--br-7xs);
  background-color: var(--bg-white);
  border: 1px solid var(--color-border);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xl) var(--padding-6xl) var(--padding-7xl)
    var(--padding-10xl);
  gap: 47px;
  min-width: 448px;
  text-align: left;
  font-size: var(--h2-size);
}
.table-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 27px;
}
.coupon-child {
  height: 55px;
  width: 350px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--bg-white);
  border: 1px dashed var(--color-text-light);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.m-khuyn-mi,
.nhp-m {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.m-khuyn-mi {
  line-height: 150%;
  min-width: 102px;
}
.nhp-m {
  text-decoration: underline;
  text-transform: capitalize;
  font-weight: 600;
  min-width: 62px;
}
.coupon {
  border-radius: var(--br-7xs);
  background-color: var(--bg-white);
  border: 1px dashed var(--color-text-light);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-base) var(--padding-sm);
  gap: 148px;
  max-width: 100%;
}
.quay-v {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 65px;
}
.large-button-radius-614,
.table-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.large-button-radius-614 {
  width: 134px;
  filter: drop-shadow(0 5px 20px rgba(245, 195, 75, 0.15));
  border-radius: var(--br-7xs);
  border: 2px solid var(--b269);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-12xl) var(--padding-xs)
    var(--padding-15xl);
  text-align: center;
  font-size: var(--body-bold-size);
}
.table-bottom {
  width: 858px;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
}
.table-wrapper {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  text-align: right;
  font-size: var(--medium2-size);
  color: var(--color-text-dark);
}
.content-wrapper,
.main-content,
.table-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.content-wrapper {
  width: 1400px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.main-content {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-31xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--regular-size);
  color: var(--b269);
  font-family: var(--caption);
}
.footer-background {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: -1px;
  left: 0;
  background-color: var(--bg-white);
  border-top: 1px solid var(--color-border);
  box-sizing: border-box;
}
.lin-h-chng {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.phone-call-1-icon {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.phone-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.th-hai- {
  font-weight: 500;
}
.separator,
.th-hai- {
  position: relative;
  line-height: 22px;
}
.contact-hours,
.schedule-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.schedule-info {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xs);
  min-width: 162px;
}
.contact-hours {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-6xl);
}
.email-1-icon {
  height: 30px;
  width: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.bn-cn-gip {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 129px;
}
.email-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.supportezshopcom {
  position: relative;
  line-height: 22px;
  white-space: nowrap;
}
.email-info {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.email-block {
  width: 217px;
  gap: var(--gap-11xs);
}
.contact-block,
.email-block,
.inner2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inner2 {
  align-self: stretch;
  gap: var(--gap-11xl);
  font-size: var(--regular-size);
}
.contact-block {
  width: 305px;
  gap: var(--gap-14xl);
  min-width: 305px;
}
.v-ezshop {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 103px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.ezshop-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.chnh-sch-bo1,
.danh-sch-yu,
.hng-dn-sn,
.nh-v-ca,
.theo-di-n {
  margin: 0;
}
.theo-di-n-container {
  position: relative;
  font-size: var(--medium2-size);
  line-height: 40px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.ezshop-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl-1);
  min-width: 129px;
}
.h-tr-khch {
  position: relative;
  line-height: 23.2px;
  text-transform: uppercase;
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: 1de1738;
  white-space: nowrap;
}
.lin-h-chng1,
.th-qu-tng,
.ti-tr-mua,
.tr-li,
.trung-tm-tr {
  margin: 0;
}
.lin-h-chng-container {
  height: 200px;
  position: relative;
  font-size: var(--medium2-size);
  line-height: 40px;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.links-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl-1);
  min-width: 129px;
}
.dch-v {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 76px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.bit-i-am,
.c-vn-ti,
.chng-trnh-trao,
.sc-khe-mua,
.ti-ch {
  margin: 0;
}
.bit-i-am-container {
  position: relative;
  font-size: var(--medium2-size);
  line-height: 40px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.footer-contact,
.links,
.links-content1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.links-content1 {
  flex-direction: column;
  gap: var(--gap-4xl-1);
}
.footer-contact,
.links {
  flex-direction: row;
  max-width: 100%;
}
.links {
  flex: 1;
  gap: var(--gap-19xl-5);
  min-width: 406px;
}
.footer-contact {
  width: 988px;
  gap: var(--gap-39xl);
}
.theo-di {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 89px;
}
.div100,
.div101,
.div102,
.div103 {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 11px;
}
.div101,
.div102,
.div103 {
  min-width: 14px;
}
.div102,
.div103 {
  min-width: 13px;
}
.inner3,
.track-block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inner3 {
  flex-direction: row;
  gap: var(--gap-lgi);
  font-size: var(--medium2-size);
  font-family: var(--font-abeezee);
}
.track-block {
  flex-direction: column;
  gap: var(--gap-4xl);
}
.phng-thc-thanh {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.payment-icons,
.payment-icons1,
.payment-icons2,
.payment-icons3,
.payment-icons4,
.payment-icons5 {
  align-self: stretch;
  width: 38px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.follow,
.inner4,
.payments-block,
.top4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}
.follow,
.payments-block,
.top4 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xl-5);
}
.follow,
.top4 {
  gap: var(--gap-29xl);
}
.top4 {
  width: 1378px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.copyright-background {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--color-border);
}
.ezshop-all-rights,
.quyn-ring-t {
  position: relative;
  line-height: 40px;
}
.copyrights {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-22xl);
  max-width: 100%;
}
.tin-t,
.vn {
  position: relative;
  line-height: 40px;
  display: inline-block;
  min-width: 52px;
}
.vn {
  min-width: 32px;
}
.dropdown-icon1 {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.currency,
.dropdown-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown-icons {
  flex-direction: column;
  padding: var(--padding-mid-5) 0 0;
}
.currency {
  flex-direction: row;
  gap: var(--gap-11xs-5);
}
.ngn-ng,
.ting-vit1 {
  flex: 1;
  position: relative;
  line-height: 40px;
  display: inline-block;
  min-width: 69px;
}
.ting-vit1 {
  min-width: 70px;
}
.vector-icon12 {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.vector-wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid-5) 0 0;
}
.language {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.copyright-info,
.language,
.localization {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.localization {
  width: 279px;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.copyright-info {
  align-self: stretch;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.bottom1,
.cartdetail,
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bottom1 {
  align-self: stretch;
  gap: var(--gap-lgi-9);
  max-width: 100%;
  z-index: 1;
  font-size: var(--medium2-size);
}
.cartdetail,
.footer {
  position: relative;
  text-align: left;
  font-family: var(--caption);
}
.footer {
  align-self: stretch;
  padding: var(--padding-71xl) var(--padding-239xl) var(--padding-mid)
    var(--padding-241xl);
  box-sizing: border-box;
  gap: var(--gap-28xl-9);
  max-width: 100%;
  font-size: var(--medium-size);
  color: var(--color-text-dark);
}
.cartdetail {
  width: 100%;
  background-color: var(--bg-white);
  overflow: hidden;
  gap: var(--gap-2xl);
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--body-bold-size);
  color: var(--bg-white);
}
@media screen and (max-width: 1800px) {
  .top4 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1350px) {
  .nav-categories {
    flex-wrap: wrap;
  }
  .table-head {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
  .sidebar {
    flex: 1;
  }
  .table-container {
    flex-wrap: wrap;
  }
  .contact-block {
    flex: 1;
  }
  .links {
    min-width: 100%;
  }
  .copyright-info,
  .footer-contact {
    flex-wrap: wrap;
  }
  .footer {
    padding-left: var(--padding-111xl);
    padding-right: var(--padding-110xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .navigation-categories {
    flex-wrap: wrap;
    gap: var(--gap-mini);
  }
  .gi-hng {
    font-size: var(--font-size-19xl);
  }
  .product-row,
  .quantity-actions-header,
  .table-head {
    flex-wrap: wrap;
  }
  .table-content {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .price-columns {
    flex-wrap: wrap;
  }
  .product-wrapper {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .price-structure {
    flex-wrap: wrap;
  }
  .price-structure-wrapper {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .table {
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
  .sidebar,
  .table {
    min-width: 100%;
  }
  .table-bottom {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-content {
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .links {
    flex-wrap: wrap;
    gap: var(--gap-lgi);
  }
  .footer-contact {
    gap: var(--gap-10xl);
  }
  .copyrights {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer {
    gap: var(--gap-5xl);
    padding-left: var(--padding-46xl);
    padding-right: var(--padding-45xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .nav {
    flex-wrap: wrap;
  }
  .gi-hng {
    font-size: var(--font-size-10xl);
  }
  .quantity-actions-header {
    gap: 37px;
  }
  .tng-thanh-ton {
    font-size: var(--medium-size);
    line-height: 26px;
  }
  .breakdown,
  .label-container {
    flex-wrap: wrap;
  }
  .sidebar {
    gap: var(--gap-4xl);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .coupon {
    flex-wrap: wrap;
    gap: var(--gap-55xl);
  }
  .main-content {
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .contact-hours {
    flex-wrap: wrap;
  }
  .contact-block {
    gap: var(--gap-base);
  }
  .inner4 {
    flex-wrap: wrap;
  }
  .follow {
    gap: var(--gap-5xl);
  }
  .localization {
    gap: var(--gap-base);
  }
  .footer {
    padding-top: var(--padding-39xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
