.login {
  width: 100%;
  height: 1433px;
  position: relative;
  background-color: var(--color-white1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 516px;
  box-sizing: border-box;
  gap: var(--gap-52xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .login {
    height: auto;
    gap: var(--gap-16xl);
  }
}
@media screen and (max-width: 925px) {
  .login {
    gap: var(--gap-lg);
  }
}
