.footer-bottom-background1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--color-border);
}
.ezshop-all-rights5,
.quyn-ring-t5 {
  position: relative;
  line-height: 40px;
}
.copyright-info1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-22xl);
  max-width: 100%;
}
.tin-t5,
.vn5 {
  position: relative;
  line-height: 40px;
  display: inline-block;
  min-width: 52px;
}
.vn5 {
  min-width: 32px;
}
.locale-icon {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.currency5,
.locale-icon-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.locale-icon-container {
  flex-direction: column;
  padding: var(--padding-mid-5) 0 0;
}
.currency5 {
  flex-direction: row;
  gap: var(--gap-11xs-5);
}
.ngn-ng5,
.ting-vit12 {
  flex: 1;
  position: relative;
  line-height: 40px;
  display: inline-block;
  min-width: 69px;
}
.ting-vit12 {
  min-width: 70px;
}
.vector-icon62 {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.vector-wrapper53 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid-5) 0 0;
}
.language6 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.bottom12,
.copyright1,
.language6,
.locale {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.locale {
  width: 279px;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.bottom12,
.copyright1 {
  align-self: stretch;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.bottom12 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lgi-9);
  z-index: 1;
  text-align: left;
  font-size: var(--caption-size);
  color: var(--color-text-dark);
  font-family: var(--body-bold);
}
@media screen and (max-width: 1350px) {
  .copyright1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 925px) {
  .copyright-info1 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .locale {
    gap: var(--gap-base);
  }
}
