.footer-background3 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--color-border);
}
.category-background {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--b269);
}
.icon-backgrounds-child,
.icon-backgrounds-inner,
.icon-backgrounds-item {
  position: absolute;
  top: 0;
  left: 5px;
  background-color: var(--bg-white);
  width: 15px;
  height: 2px;
}
.icon-backgrounds-inner,
.icon-backgrounds-item {
  top: 8px;
  left: 0;
  width: 20px;
}
.icon-backgrounds-inner {
  top: 16px;
  width: 15px;
}
.icon-backgrounds {
  width: 20px;
  height: 18px;
  position: relative;
}
.icon-backgrounds-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.danh-mc8 {
  width: 79px;
  height: 24px;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
}
.danh-mc-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
}
.vector-icon36 {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.categories11,
.frame-parent22,
.vector-wrapper29 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper29 {
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
}
.categories11,
.frame-parent22 {
  flex-direction: row;
}
.frame-parent22 {
  flex: 1;
  gap: var(--gap-mini);
  z-index: 1;
}
.categories11 {
  width: 270px;
  padding: var(--padding-base) var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
  position: relative;
}
.trang-ch5 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  white-space: nowrap;
}
.vector-icon37 {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.link-containers,
.vector-wrapper30 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper30 {
  flex-direction: column;
  padding: var(--padding-mini-5) 0 0;
}
.link-containers {
  align-self: stretch;
  width: 90.5px;
  flex-direction: row;
  gap: var(--gap-10xs);
}
.sn-phm9 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
}
.vector-icon38 {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.link-containers1,
.vector-wrapper31 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper31 {
  flex-direction: column;
  padding: var(--padding-mini-5) 0 0;
}
.link-containers1 {
  align-self: stretch;
  width: 91.5px;
  flex-direction: row;
  gap: var(--gap-9xs);
}
.lin-h3 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
}
.vector-icon39 {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.link-containers2,
.vector-wrapper32 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper32 {
  flex-direction: column;
  padding: var(--padding-mini-5) 0 0;
}
.link-containers2 {
  align-self: stretch;
  width: 68.5px;
  flex-direction: row;
  gap: var(--gap-10xs);
}
.bi-vit3 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
}
.vector-icon40 {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.vector-wrapper33 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
}
.link-containers3,
.nav3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.link-containers3 {
  width: 72.5px;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.nav3 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer-content1,
.promo-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.promo-links {
  height: 44px;
  flex: 1;
  flex-direction: column;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  color: var(--color-text-dark);
}
.footer-content1 {
  width: 742.5px;
  flex-direction: row;
  gap: var(--gap-12xl);
}
.u-i-trong3 {
  height: 28px;
  flex: 1;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.right-nav4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.footer-container {
  width: 528px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  text-align: right;
  color: var(--color-text-dark);
}
.bottom6,
.footer-container,
.footer-inner,
.footer-inner-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.footer-inner {
  width: 1400px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.bottom6,
.footer-inner-wrapper {
  align-self: stretch;
}
.footer-inner-wrapper {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.bottom6 {
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--body-bold-size);
  color: var(--bg-white);
  font-family: var(--caption);
}
@media screen and (max-width: 950px) {
  .footer-content1 {
    gap: var(--gap-mini);
  }
}
