.footer-bottom-background {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--color-border);
}
.ezshop-all-rights3,
.quyn-ring-t3 {
  position: relative;
  line-height: 40px;
}
.copyright-terms {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-22xl);
  max-width: 100%;
}
.tin-t3,
.vn3 {
  position: relative;
  line-height: 40px;
  display: inline-block;
  min-width: 52px;
}
.vn3 {
  min-width: 32px;
}
.vector-icon43 {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.currency-icon-language-icon,
.currency3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.currency-icon-language-icon {
  flex-direction: column;
  padding: var(--padding-mid-5) 0 0;
}
.currency3 {
  flex-direction: row;
  gap: var(--gap-11xs-5);
}
.ngn-ng3,
.ting-vit8 {
  flex: 1;
  position: relative;
  line-height: 40px;
  display: inline-block;
  min-width: 69px;
}
.ting-vit8 {
  min-width: 70px;
}
.vector-icon44 {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.vector-wrapper36 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid-5) 0 0;
}
.language4 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.bottom8,
.currency-language,
.footer-bottom-content,
.language4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.currency-language {
  width: 279px;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.bottom8,
.footer-bottom-content {
  align-self: stretch;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.bottom8 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lgi-9);
  z-index: 1;
  text-align: left;
  font-size: var(--caption-size);
  color: var(--color-text-dark);
  font-family: var(--body-bold);
}
@media screen and (max-width: 1350px) {
  .footer-bottom-content {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 925px) {
  .copyright-terms {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .currency-language {
    gap: var(--gap-base);
  }
}
