.child17 {
  margin: 0 !important;
  border: 1px solid var(--color-border);
  box-sizing: border-box;
}
.child17,
.images-child18 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--bg-white);
}
.image-30-icon19 {
  position: absolute;
  height: 82.14%;
  width: 85.19%;
  top: 8.93%;
  right: 7.41%;
  bottom: 8.93%;
  left: 7.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.images26,
.wrapper-group-3-item {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.images26 {
  top: 0;
  z-index: 1;
}
.wrapper-group-3-item {
  object-fit: contain;
  top: 10px;
  transform: scale(3.941);
}
.wrapper-group-31 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons-child6,
.icons-child7,
.wrapper-group-31 {
  width: 34px;
  height: 34px;
  position: relative;
}
.icons5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-6xs);
}
.thm-vo-gi3 {
  position: relative;
  line-height: 150%;
}
.large-button-radius-617 {
  border-radius: var(--br-7xs);
  background-color: var(--b269);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-35xl-5);
  white-space: nowrap;
}
.hover-effect3 {
  position: absolute;
  top: 20px;
  left: 14px;
  height: 241px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-55xl);
  z-index: 2;
}
.images-group {
  align-self: stretch;
  height: 280px;
  position: relative;
}
.in-t19 {
  position: relative;
  display: inline-block;
  min-width: 61px;
}
.brand19 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.kinlo-hydrating-golden3 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.title19 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.star-1-131,
.star-1-231,
.star-1-331,
.star-1-431,
.star-1-531 {
  height: 10px;
  width: 10px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 10px;
}
.stars-wrapper7,
.stars24 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.stars24 {
  flex-direction: row;
  gap: var(--gap-8xs);
}
.stars-wrapper7 {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.nh-gi21 {
  position: relative;
  display: inline-block;
  min-width: 87px;
}
.review19 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.span39 {
  text-decoration: underline;
}
.div148,
.div149 {
  position: relative;
  display: inline-block;
}
.div148 {
  line-height: 23.2px;
  font-weight: 600;
  min-width: 94px;
}
.div149 {
  text-decoration: line-through;
  text-transform: capitalize;
  min-width: 69px;
}
.price35,
.review-group,
.title-parent,
.wrapper14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper14 {
  flex-direction: column;
  padding: var(--padding-10xs-5) 0 0;
  font-size: var(--medium2-size);
  color: var(--color-text-light);
}
.price35,
.review-group,
.title-parent {
  flex-direction: row;
  gap: var(--gap-7xs);
  font-size: var(--medium-size);
  color: var(--color-text-dark);
}
.review-group,
.title-parent {
  flex-direction: column;
  gap: var(--gap-sm);
  font-size: var(--caption-size);
  color: var(--color-text-light);
}
.title-parent {
  align-self: stretch;
  gap: var(--gap-3xs);
  font-size: var(--body-bold-size);
  color: var(--color-text-dark);
}
.info28 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-sm);
  z-index: 1;
}
.div147,
.info-wrapper8,
.info28 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.info-wrapper8 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base) 0 var(--padding-sm);
  text-align: left;
  font-size: var(--caption-size);
  color: var(--color-text-light);
}
.div147 {
  width: 281px;
  margin: 0 !important;
  position: absolute;
  bottom: 1182px;
  left: 540px;
  flex-direction: column;
  padding: var(--padding-12xs) var(--padding-8xs) var(--padding-4xl)
    var(--padding-7xs);
  box-sizing: border-box;
  gap: var(--gap-12xs);
  z-index: 2;
  text-align: center;
  font-size: var(--medium2-size);
  color: var(--bg-white);
  font-family: var(--caption);
}
