.footer-background4 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: -1px;
  left: 0;
  background-color: var(--color-white1);
  border-top: 1px solid var(--color-border);
  box-sizing: border-box;
}
.lin-h-chng8 {
  width: 176px;
  height: 23px;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
}
.phone-call-1-icon4 {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.phone-number {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.th-hai-4 {
  font-weight: 500;
}
.hour-separator,
.th-hai-4 {
  position: relative;
  line-height: 22px;
}
.business-hours,
.phone-email {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.business-hours {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xs);
  min-width: 162px;
}
.phone-email {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-6xl);
}
.email-1-icon4 {
  height: 30px;
  width: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.bn-cn-gip4 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.email-address1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.supportezshopcom4 {
  position: relative;
  line-height: 22px;
  white-space: nowrap;
}
.support-email {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.email-support {
  width: 217px;
  gap: var(--gap-11xs);
}
.contact-us,
.email-support,
.inner16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inner16 {
  align-self: stretch;
  gap: var(--gap-11xl);
  font-size: var(--regular-size);
}
.contact-us {
  width: 305px;
  gap: var(--gap-14xl);
  min-width: 305px;
}
.v-ezshop4 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.about-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.chnh-sch-bo5,
.danh-sch-yu5,
.hng-dn-sn4,
.nh-v-ca4,
.theo-di-n4 {
  margin: 0;
}
.theo-di-n-container4 {
  height: 200px;
  position: relative;
  font-size: var(--caption-size);
  line-height: 40px;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.about-e-z-shop {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl-1);
  min-width: 129px;
}
.h-tr-khch4 {
  position: relative;
  line-height: 23px;
  text-transform: uppercase;
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.lin-h-chng9,
.th-qu-tng4,
.ti-tr-mua4,
.tr-li4,
.trung-tm-tr4 {
  margin: 0;
}
.lin-h-chng-container4 {
  height: 200px;
  position: relative;
  font-size: var(--caption-size);
  line-height: 40px;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.support-services2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl-1);
  min-width: 129px;
}
.dch-v4 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.bit-i-am4,
.c-vn-ti4,
.chng-trnh-trao4,
.sc-khe-mua4,
.ti-ch4 {
  margin: 0;
}
.bit-i-am-container4 {
  height: 200px;
  position: relative;
  font-size: var(--caption-size);
  line-height: 40px;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.contact-support,
.links-column,
.support-services3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.support-services3 {
  flex-direction: column;
  gap: var(--gap-4xl-1);
}
.contact-support,
.links-column {
  flex-direction: row;
  max-width: 100%;
}
.links-column {
  flex: 1;
  gap: var(--gap-19xl-5);
  min-width: 406px;
}
.contact-support {
  width: 988px;
  gap: var(--gap-39xl);
}
.theo-di4 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.div221,
.div222,
.div223,
.div224 {
  position: relative;
  text-transform: capitalize;
}
.follow-us1,
.inner17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inner17 {
  flex-direction: row;
  gap: var(--gap-xl);
  font-size: var(--caption-size);
  font-family: var(--font-abeezee);
}
.follow-us1 {
  flex-direction: column;
  gap: var(--gap-4xl);
}
.phng-thc-thanh4 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.visa-mastercard-paypal-amex-j,
.visa-mastercard-paypal-amex-j1,
.visa-mastercard-paypal-amex-j2,
.visa-mastercard-paypal-amex-j3,
.visa-mastercard-paypal-amex-j4,
.visa-mastercard-paypal-amex-j5 {
  align-self: stretch;
  width: 38px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.inner18 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}
.follow-payments,
.payment-methods,
.top14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl-5);
}
.follow-payments,
.top14 {
  gap: var(--gap-29xl);
}
.top14 {
  width: 1378px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.bottom-background3 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--color-border);
}
.ezshop-all-rights4,
.quyn-ring-t4 {
  position: relative;
  line-height: 40px;
}
.copyright-terms1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-22xl);
  max-width: 100%;
}
.tin-t4,
.vn4 {
  position: relative;
  line-height: 40px;
}
.vector-icon53 {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.currency-dropdown-language-dro,
.currency4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.currency-dropdown-language-dro {
  flex-direction: column;
  padding: var(--padding-mid-5) 0 0;
}
.currency4 {
  flex-direction: row;
  gap: var(--gap-11xs);
}
.ngn-ng4,
.ting-vit10 {
  width: 69px;
  position: relative;
  line-height: 40px;
  display: inline-block;
}
.ting-vit10 {
  width: 70px;
}
.vector-icon54 {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.currency-language1,
.language5,
.vector-wrapper45 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper45 {
  flex-direction: column;
  padding: var(--padding-mid-5) 0 0;
}
.currency-language1,
.language5 {
  flex-direction: row;
  gap: var(--gap-11xs);
}
.currency-language1 {
  gap: var(--gap-13xl);
}
.bottom10,
.copyright-currency-language,
.footer5 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.copyright-currency-language {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.bottom10,
.footer5 {
  flex-direction: column;
  justify-content: flex-start;
}
.bottom10 {
  gap: var(--gap-lgi-9);
  z-index: 1;
  font-size: var(--caption-size);
}
.footer5 {
  padding: var(--padding-71xl) var(--padding-239xl) var(--padding-mid)
    var(--padding-241xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-28xl-9);
  text-align: left;
  font-size: var(--medium-size);
  color: var(--color-text-dark);
  font-family: var(--body-bold);
}
@media screen and (max-width: 1800px) {
  .top14 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1350px) {
  .contact-us {
    flex: 1;
  }
  .links-column {
    min-width: 100%;
  }
  .contact-support,
  .copyright-currency-language {
    flex-wrap: wrap;
  }
  .footer5 {
    padding-left: var(--padding-111xl);
    padding-right: var(--padding-110xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .links-column {
    flex-wrap: wrap;
    gap: var(--gap-lgi);
  }
  .contact-support {
    gap: var(--gap-10xl);
  }
  .copyright-terms1 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer5 {
    gap: var(--gap-5xl);
    padding-left: var(--padding-46xl);
    padding-right: var(--padding-45xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .phone-email {
    flex-wrap: wrap;
  }
  .contact-us {
    gap: var(--gap-base);
  }
  .inner18 {
    flex-wrap: wrap;
  }
  .follow-payments {
    gap: var(--gap-5xl);
  }
  .currency-language1 {
    flex-wrap: wrap;
    gap: var(--gap-base);
  }
  .footer5 {
    padding-top: var(--padding-39xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
