.footer-background6 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: -1px;
  left: 0;
  background-color: var(--color-white1);
  border-top: 1px solid var(--color-border);
  box-sizing: border-box;
}
.lin-h-chng12 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.phone-call-1-icon6 {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.phone-icon2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.th-hai-6 {
  font-weight: 500;
}
.dash,
.th-hai-6 {
  position: relative;
  line-height: 22px;
}
.div252,
.th-hai-th-su-08h00-21h-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.th-hai-th-su-08h00-21h-container {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xs);
  min-width: 162px;
}
.div252 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-6xl);
}
.email-1-icon6 {
  height: 30px;
  width: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.bn-cn-gip6 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 129px;
}
.email-icon2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.supportezshopcom6 {
  position: relative;
  line-height: 22px;
  white-space: nowrap;
}
.support-email-address {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.div253 {
  width: 217px;
  gap: var(--gap-11xs);
}
.div253,
.footer-contact1,
.inner22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inner22 {
  align-self: stretch;
  gap: var(--gap-11xl);
  font-size: var(--regular-size);
}
.footer-contact1 {
  width: 305px;
  gap: var(--gap-14xl);
  min-width: 305px;
}
.v-ezshop6 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 103px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.ezshop-info-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.chnh-sch-bo7,
.danh-sch-yu7,
.hng-dn-sn6,
.nh-v-ca6,
.theo-di-n6 {
  margin: 0;
}
.theo-di-n-container6 {
  position: relative;
  font-size: var(--caption-size);
  line-height: 40px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.ezshop-info1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl-1);
  min-width: 129px;
}
.h-tr-khch6 {
  position: relative;
  line-height: 23.2px;
  text-transform: uppercase;
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: 1de1738;
  white-space: nowrap;
}
.lin-h-chng13,
.th-qu-tng6,
.ti-tr-mua6,
.tr-li6,
.trung-tm-tr6 {
  margin: 0;
}
.lin-h-chng-container6 {
  height: 200px;
  position: relative;
  font-size: var(--caption-size);
  line-height: 40px;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.support-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl-1);
  min-width: 129px;
}
.dch-v6 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 76px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.bit-i-am6,
.c-vn-ti6,
.chng-trnh-trao6,
.sc-khe-mua6,
.ti-ch6 {
  margin: 0;
}
.bit-i-am-container6 {
  position: relative;
  font-size: var(--caption-size);
  line-height: 40px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.footer-content2,
.support-links1,
.support-navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.support-links1 {
  flex-direction: column;
  gap: var(--gap-4xl-1);
}
.footer-content2,
.support-navigation {
  flex-direction: row;
  max-width: 100%;
}
.support-navigation {
  flex: 1;
  gap: var(--gap-19xl-5);
  min-width: 406px;
}
.footer-content2 {
  width: 988px;
  gap: var(--gap-39xl);
}
.theo-di6 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 89px;
}
.div254,
.div255,
.div256,
.div257 {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 11px;
}
.div255,
.div256,
.div257 {
  min-width: 14px;
}
.div256,
.div257 {
  min-width: 13px;
}
.inner23,
.social-media-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inner23 {
  flex-direction: row;
  gap: var(--gap-lgi);
  font-size: var(--caption-size);
  font-family: var(--font-abeezee);
}
.social-media-links {
  flex-direction: column;
  gap: var(--gap-4xl);
}
.phng-thc-thanh6 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.payment-method-icons,
.payment-method-icons1,
.payment-method-icons2,
.payment-method-icons3,
.payment-method-icons4,
.payment-method-icons5 {
  align-self: stretch;
  width: 38px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.inner24,
.payment,
.social-media2,
.top18 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}
.payment,
.social-media2,
.top18 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xl-5);
}
.social-media2,
.top18 {
  gap: var(--gap-29xl);
}
.top18 {
  width: 1378px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.copyright-background1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--color-border);
}
.ezshop-all-rights6,
.quyn-ring-t6 {
  position: relative;
  line-height: 40px;
}
.ezshop-all-rights-reserved-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-22xl);
  max-width: 100%;
}
.tin-t6,
.vn6 {
  position: relative;
  line-height: 40px;
  display: inline-block;
  min-width: 52px;
}
.vn6 {
  min-width: 31px;
}
.vector-icon71 {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.currency6,
.dropdown-icon3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown-icon3 {
  flex-direction: column;
  padding: var(--padding-mid-5) 0 0;
}
.currency6 {
  flex-direction: row;
  gap: var(--gap-11xs-5);
}
.ngn-ng6,
.ting-vit14 {
  flex: 1;
  position: relative;
  line-height: 40px;
  display: inline-block;
  min-width: 69px;
}
.ting-vit14 {
  min-width: 70px;
}
.vector-icon72 {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.language-settings,
.language7,
.vector-wrapper62 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper62 {
  flex-direction: column;
  padding: var(--padding-mid-5) 0 0;
}
.language-settings,
.language7 {
  flex-direction: row;
}
.language7 {
  flex: 1;
  gap: var(--gap-11xs);
}
.language-settings {
  width: 278px;
  gap: var(--gap-13xl);
}
.bottom14,
.copyright-content,
.footer6 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.copyright-content {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.bottom14,
.footer6 {
  flex-direction: column;
  justify-content: flex-start;
}
.bottom14 {
  gap: var(--gap-lgi-9);
  z-index: 1;
  font-size: var(--caption-size);
}
.footer6 {
  padding: var(--padding-71xl) var(--padding-239xl-5) var(--padding-mid)
    var(--padding-241xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-28xl-9);
  text-align: left;
  font-size: var(--medium-size);
  color: var(--color-text-dark);
  font-family: var(--body-bold);
}
@media screen and (max-width: 1800px) {
  .top18 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1350px) {
  .footer-contact1 {
    flex: 1;
  }
  .support-navigation {
    min-width: 100%;
  }
  .copyright-content,
  .footer-content2 {
    flex-wrap: wrap;
  }
  .footer6 {
    padding-left: var(--padding-111xl);
    padding-right: var(--padding-110xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .support-navigation {
    flex-wrap: wrap;
    gap: var(--gap-lgi);
  }
  .footer-content2 {
    gap: var(--gap-10xl);
  }
  .ezshop-all-rights-reserved-parent {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer6 {
    gap: var(--gap-5xl);
    padding-left: var(--padding-46xl);
    padding-right: var(--padding-45xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .div252 {
    flex-wrap: wrap;
  }
  .footer-contact1 {
    gap: var(--gap-base);
  }
  .inner24 {
    flex-wrap: wrap;
  }
  .social-media2 {
    gap: var(--gap-5xl);
  }
  .language-settings {
    gap: var(--gap-base);
  }
  .footer6 {
    padding-top: var(--padding-39xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
