.footer-background2 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: -1px;
  left: 0;
  background-color: var(--bg-white);
  border-top: 1px solid var(--color-border);
  box-sizing: border-box;
}
.lin-h-chng4 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.phone-call-1-icon2 {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.phone-icon1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.th-hai-2 {
  font-weight: 500;
}
.dash,
.th-hai-2 {
  position: relative;
  line-height: 22px;
}
.div141,
.th-hai-th-su-08h00-21h-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.th-hai-th-su-08h00-21h-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xs);
  min-width: 162px;
}
.div141 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-6xl);
}
.email-1-icon2 {
  height: 30px;
  width: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.bn-cn-gip2 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 129px;
}
.email-icon1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.supportezshopcom2 {
  position: relative;
  line-height: 22px;
  white-space: nowrap;
}
.support-email-address {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.div142 {
  width: 217px;
  gap: var(--gap-11xs);
}
.div142,
.footer-contact1,
.inner8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inner8 {
  align-self: stretch;
  gap: var(--gap-11xl);
  font-size: var(--regular-size);
}
.footer-contact1 {
  width: 305px;
  gap: var(--gap-14xl);
  min-width: 305px;
}
.v-ezshop2 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 103px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.ezshop-info-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.chnh-sch-bo3,
.danh-sch-yu2,
.hng-dn-sn2,
.nh-v-ca2,
.theo-di-n2 {
  margin: 0;
}
.theo-di-n-container2 {
  position: relative;
  font-size: var(--medium2-size);
  line-height: 40px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.ezshop-info1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl-1);
  min-width: 129px;
}
.h-tr-khch2 {
  position: relative;
  line-height: 23.2px;
  text-transform: uppercase;
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: 1de1738;
  white-space: nowrap;
}
.lin-h-chng5,
.th-qu-tng2,
.ti-tr-mua2,
.tr-li2,
.trung-tm-tr2 {
  margin: 0;
}
.lin-h-chng-container2 {
  height: 200px;
  position: relative;
  font-size: var(--medium2-size);
  line-height: 40px;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.support-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl-1);
  min-width: 129px;
}
.dch-v2 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 76px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.bit-i-am2,
.c-vn-ti2,
.chng-trnh-trao2,
.sc-khe-mua2,
.ti-ch2 {
  margin: 0;
}
.bit-i-am-container2 {
  position: relative;
  font-size: var(--medium2-size);
  line-height: 40px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.footer-content,
.support-links1,
.support-navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.support-links1 {
  flex-direction: column;
  gap: var(--gap-4xl-1);
}
.footer-content,
.support-navigation {
  flex-direction: row;
  max-width: 100%;
}
.support-navigation {
  flex: 1;
  gap: var(--gap-19xl-5);
  min-width: 406px;
}
.footer-content {
  width: 988px;
  gap: var(--gap-39xl);
}
.theo-di2 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 89px;
}
.div143,
.div144,
.div145,
.div146 {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 11px;
}
.div144,
.div145,
.div146 {
  min-width: 14px;
}
.div145,
.div146 {
  min-width: 13px;
}
.inner9,
.social-media-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inner9 {
  flex-direction: row;
  gap: var(--gap-lgi);
  font-size: var(--medium2-size);
  font-family: var(--font-abeezee);
}
.social-media-links {
  flex-direction: column;
  gap: var(--gap-4xl);
}
.phng-thc-thanh2 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.payment-method-icons,
.payment-method-icons1,
.payment-method-icons2,
.payment-method-icons3,
.payment-method-icons4,
.payment-method-icons5 {
  align-self: stretch;
  width: 38px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.inner10,
.payment,
.social-media1,
.top9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}
.payment,
.social-media1,
.top9 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xl-5);
}
.social-media1,
.top9 {
  gap: var(--gap-29xl);
}
.top9 {
  width: 1378px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.copyright-background1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--color-border);
}
.ezshop-all-rights2,
.quyn-ring-t2 {
  position: relative;
  line-height: 40px;
}
.ezshop-all-rights-reserved-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-22xl);
  max-width: 100%;
}
.tin-t2,
.vn2 {
  position: relative;
  line-height: 40px;
  display: inline-block;
  min-width: 52px;
}
.vn2 {
  min-width: 31px;
}
.vector-icon31 {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.currency2,
.dropdown-icon3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown-icon3 {
  flex-direction: column;
  padding: var(--padding-mid-5) 0 0;
}
.currency2 {
  flex-direction: row;
  gap: var(--gap-11xs-5);
}
.ngn-ng2,
.ting-vit5 {
  flex: 1;
  position: relative;
  line-height: 40px;
  display: inline-block;
  min-width: 69px;
}
.ting-vit5 {
  min-width: 70px;
}
.vector-icon32 {
  width: 8.5px;
  height: 5px;
  position: relative;
  object-fit: contain;
}
.language-settings,
.language2,
.vector-wrapper25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper25 {
  flex-direction: column;
  padding: var(--padding-mid-5) 0 0;
}
.language-settings,
.language2 {
  flex-direction: row;
}
.language2 {
  flex: 1;
  gap: var(--gap-11xs);
}
.language-settings {
  width: 278px;
  gap: var(--gap-13xl);
}
.bottom5,
.copyright-content,
.footer2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.copyright-content {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.bottom5,
.footer2 {
  flex-direction: column;
  justify-content: flex-start;
}
.bottom5 {
  gap: var(--gap-lgi-9);
  z-index: 1;
  font-size: var(--medium2-size);
}
.footer2 {
  padding: var(--padding-71xl) var(--padding-239xl-5) var(--padding-mid)
    var(--padding-241xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-28xl-9);
  text-align: left;
  font-size: var(--medium-size);
  color: var(--color-text-dark);
  font-family: var(--caption);
}
@media screen and (max-width: 1800px) {
  .top9 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1350px) {
  .footer-contact1 {
    flex: 1;
  }
  .support-navigation {
    min-width: 100%;
  }
  .copyright-content,
  .footer-content {
    flex-wrap: wrap;
  }
  .footer2 {
    padding-left: var(--padding-111xl);
    padding-right: var(--padding-110xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .support-navigation {
    flex-wrap: wrap;
    gap: var(--gap-lgi);
  }
  .footer-content {
    gap: var(--gap-10xl);
  }
  .ezshop-all-rights-reserved-parent {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer2 {
    gap: var(--gap-5xl);
    padding-left: var(--padding-46xl);
    padding-right: var(--padding-45xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .div141 {
    flex-wrap: wrap;
  }
  .footer-contact1 {
    gap: var(--gap-base);
  }
  .inner10 {
    flex-wrap: wrap;
  }
  .social-media1 {
    gap: var(--gap-5xl);
  }
  .language-settings {
    gap: var(--gap-base);
  }
  .footer2 {
    padding-top: var(--padding-39xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
