.checkbox-child3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-text-dark);
  box-sizing: border-box;
}
.checkbox5 {
  width: 16px;
  height: 16px;
  position: relative;
}
.checkbox-child4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-text-dark);
}
.check-1-11 {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 25%;
  right: 25%;
  bottom: 25%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.checkbox6 {
  width: 16px;
  height: 16px;
  position: relative;
}
.checkbox-child5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-text-dark);
  box-sizing: border-box;
}
.checkbox7 {
  width: 16px;
  height: 16px;
  position: relative;
}
.checkbox-child6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-text-dark);
  box-sizing: border-box;
}
.checkbox8 {
  width: 16px;
  height: 16px;
  position: relative;
}
.checkbox-child7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-text-dark);
  box-sizing: border-box;
}
.checkbox9 {
  width: 16px;
  height: 16px;
  position: relative;
}
.checkbox-group,
.frame-wrapper8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkbox-group {
  gap: var(--gap-sm);
}
.frame-wrapper8 {
  padding: var(--padding-6xs) 0 0;
}
.acer,
.apple1,
.asus,
.dell,
.lenovo {
  margin: 0;
}
.apple-asus-acer-container {
  position: relative;
  line-height: 30px;
}
.frame-parent26 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.view-all5 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 82px;
}
.button-line-child3 {
  width: 32px;
  height: 2px;
  position: relative;
  background-color: var(--color);
}
.button-line5,
.frame-parent25 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-line5 {
  box-shadow: var(--button-shadow);
  gap: var(--gap-10xs);
  text-align: center;
  color: var(--color);
}
.frame-parent25 {
  gap: var(--gap-3xs);
}
.p15,
.p16,
.p17,
.p18,
.p19 {
  margin: 0;
}
.div189 {
  position: relative;
  font-size: var(--font-size-smi);
  line-height: 30px;
  color: var(--color-text-light);
  text-align: right;
}
.frame-parent24 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 var(--padding-9xs);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--regular-size);
  color: var(--color-text-dark);
  font-family: var(--caption);
}
