.product-card-container {
  margin: 0 !important;
  border: 1px solid var(--color-border);
  box-sizing: border-box;
}
.product-card-container,
.product-image-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--bg-white);
}
.image-30-icon21 {
  position: absolute;
  height: 82.14%;
  width: 85.19%;
  top: 8.93%;
  right: 7.41%;
  bottom: 8.93%;
  left: 7.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.images28 {
  align-self: stretch;
  height: 280px;
  position: relative;
  z-index: 1;
}
.in-t21 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 71px;
}
.brand21 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.khng-co-gin,
.vy-body-m {
  margin: 0;
}
.ergonomic-concrete-lamp-container1 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.brand-review-container,
.title21 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.title21 {
  flex-direction: row;
  font-size: var(--body-bold-size);
  color: var(--color-text-dark);
}
.brand-review-container {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.star-1-133,
.star-1-233,
.star-1-333,
.star-1-433,
.star-1-533 {
  height: 10px;
  width: 10px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 10px;
}
.stars-wrapper9,
.stars26 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.stars26 {
  flex-direction: row;
  gap: var(--gap-8xs);
}
.stars-wrapper9 {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.nh-gi23 {
  position: relative;
  display: inline-block;
  min-width: 87px;
}
.review21 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.span43 {
  text-decoration: underline;
}
.div162,
.div163 {
  position: relative;
  display: inline-block;
}
.div162 {
  line-height: 23.2px;
  font-weight: 600;
  min-width: 94px;
}
.div163 {
  text-decoration: line-through;
  text-transform: capitalize;
  min-width: 69px;
}
.discount-tag {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
  font-size: var(--medium2-size);
  color: var(--color-text-light);
}
.gim-201 {
  position: relative;
  display: inline-block;
  min-width: 60px;
}
.gim-20-container,
.info30,
.price38,
.review-price-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.gim-20-container {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  font-size: var(--caption-size);
  color: var(--bg-1);
}
.info30,
.price38,
.review-price-container {
  align-self: stretch;
}
.price38 {
  flex-direction: row;
  gap: var(--gap-5xs);
  font-size: var(--medium-size);
  color: var(--color-text-dark);
}
.info30,
.review-price-container {
  flex-direction: column;
}
.review-price-container {
  gap: var(--gap-smi);
  font-size: var(--caption-size);
}
.info30 {
  gap: var(--gap-lgi);
  z-index: 1;
}
.sold-bar-background,
.sold-bar-fill {
  height: 6px;
  border-radius: var(--br-7xs);
}
.sold-bar-background {
  align-self: stretch;
  position: relative;
  background-color: var(--bg-4);
}
.sold-bar-fill {
  width: 163px;
  position: absolute;
  margin: 0 !important;
  top: 0.5px;
  left: 0;
  background-color: var(--bg-2);
  z-index: 1;
}
.bar6,
.bn-561 {
  position: relative;
}
.bn-561 {
  display: inline-block;
  min-width: 62px;
}
.bar6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs-5);
  z-index: 1;
  font-size: var(--caption-size);
  color: var(--color-text-dark);
}
.product-info-container {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-5);
}
.product-cards1,
.product-info-container,
.product-info-container-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-info-container-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base) 0 var(--padding-sm);
}
.product-cards1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) var(--padding-8xs) var(--padding-5xl)
    var(--padding-7xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-12xs);
  min-width: 275px;
  max-width: 281px;
  flex-shrink: 0;
  debug_commit: 1de1738;
  text-align: left;
  font-size: var(--medium2-size);
  color: var(--color-text-light);
  font-family: var(--caption);
}
