.images-child22,
.rect {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white1);
}
.rect {
  margin: 0 !important;
  border: 1px solid var(--color-border);
  box-sizing: border-box;
}
.images-child22 {
  display: none;
}
.image-30-icon23 {
  position: absolute;
  height: 82.14%;
  width: 85.19%;
  top: 8.93%;
  right: 7.41%;
  bottom: 8.93%;
  left: 7.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.images32,
.wrapper-group-3-item {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.images32 {
  top: 0;
  z-index: 1;
}
.wrapper-group-3-item {
  object-fit: contain;
  top: 10px;
  transform: scale(3.941);
}
.wrapper-group-31 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons-child6,
.icons-child7,
.wrapper-group-31 {
  width: 34px;
  height: 34px;
  position: relative;
}
.icons5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-6xs);
}
.thm-vo-gi3 {
  position: relative;
  line-height: 150%;
}
.large-button-radius-618 {
  border-radius: var(--br-7xs);
  background-color: var(--b269);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-35xl-5);
  white-space: nowrap;
  cursor: pointer;
}
.hover-effect3 {
  position: absolute;
  top: 20px;
  left: 14px;
  height: 241px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-55xl);
  z-index: 2;
}
.product-info3 {
  align-self: stretch;
  height: 280px;
  position: relative;
}
.in-t23 {
  position: relative;
  display: inline-block;
  min-width: 61px;
}
.brand23 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.kinlo-hydrating-golden3 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.title23 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.star-1-134,
.star-1-234,
.star-1-334,
.star-1-434,
.star-1-534 {
  height: 10px;
  width: 10px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 10px;
}
.stars-wrapper11,
.stars28 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.stars28 {
  flex-direction: row;
  gap: var(--gap-8xs);
}
.stars-wrapper11 {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.nh-gi25 {
  position: relative;
  display: inline-block;
  min-width: 87px;
}
.review23 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.span45 {
  text-decoration: underline;
}
.div167,
.div168 {
  position: relative;
  display: inline-block;
}
.div167 {
  line-height: 23.2px;
  font-weight: 600;
  min-width: 94px;
}
.div168 {
  text-decoration: line-through;
  text-transform: capitalize;
  min-width: 69px;
}
.price-wrapper2,
.price40,
.product-review,
.review-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.price-wrapper2 {
  flex-direction: column;
  padding: var(--padding-10xs-5) 0 0;
  font-size: var(--caption-size);
  color: var(--color-text-light);
}
.price40,
.product-review,
.review-wrapper {
  flex-direction: row;
  gap: var(--gap-7xs);
  font-size: var(--medium-size);
  color: var(--color-text-dark);
}
.product-review,
.review-wrapper {
  flex-direction: column;
  gap: var(--gap-sm);
  font-size: var(--caption1-size);
  color: var(--color-text-light);
}
.product-review {
  align-self: stretch;
  gap: var(--gap-3xs);
  font-size: var(--body-bold-size);
  color: var(--color-text-dark);
}
.info32 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-sm);
  z-index: 1;
}
.brand-title,
.info32,
.product-card1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.brand-title {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base) 0 var(--padding-sm);
  text-align: left;
  font-size: var(--caption1-size);
  color: var(--color-text-light);
}
.product-card1 {
  width: 281px;
  margin: 0 !important;
  position: absolute;
  top: 785px;
  left: 819px;
  flex-direction: column;
  padding: var(--padding-12xs) var(--padding-8xs) var(--padding-4xl)
    var(--padding-7xs);
  box-sizing: border-box;
  gap: var(--gap-12xs);
  cursor: pointer;
  z-index: 2;
  text-align: center;
  font-size: var(--caption-size);
  color: var(--color-white1);
  font-family: var(--body-bold);
}
