@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --body-bold: "Be Vietnam Pro";
  --font-inter: Inter;
  --font-open-sans: "Open Sans";
  --font-abeezee: ABeeZee;
  --medium: Jost;
  --font-abril-fatface: "Abril Fatface";

  /* font sizes */
  --body-bold-size: 16px;
  --font-size-5xs: 8px;
  --font-size-smi: 13px;
  --regular-size: 15px;
  --caption-size: 14px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-3xs: 10px;
  --medium-size: 18px;
  --caption1-size: 12px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-9xl: 28px;
  --h2-size: 22px;
  --h1-size: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --font-size-21xl: 40px;
  --medium1-size: 60px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white1: #fff;
  --color-gray-100: #0b1e40;
  --color-text-dark: #041e42;
  --text-head: #051036;
  --b269: #19b269;
  --color-mediumseagreen-100: rgba(25, 178, 105, 0.07);
  --color-whitesmoke-100: #f7f7f7;
  --bg-4: #f3f5f6;
  --color-border: #eaeaea;
  --bg-2: #f5c34b;
  --color-text-light: #626974;
  --color-mediumaquamarine: #63b582;
  --color-lightgreen: #60c260;
  --color: #123329;
  --color-mediumslateblue: #0053f6;
  --f1fff2: #f1fff2;
  --bg-1: #443297;
  --border-1: #ddd;
  --color-steelblue: #2d9adc;
  --color-five: #d93025;
  --color-one: #1967d2;

  /* Gaps */
  --gap-6xl: 25px;
  --gap-mini: 15px;
  --gap-12xl: 31px;
  --gap-xl: 20px;
  --gap-5xl: 24px;
  --gap-mid: 17px;
  --gap-4xs: 9px;
  --gap-4xl: 23px;
  --gap-3xs: 10px;
  --gap-base: 16px;
  --gap-11xs: 2px;
  --gap-27xl: 46px;
  --gap-28xl-9: 47.9px;
  --gap-lgi-9: 19.9px;
  --gap-13xl: 32px;
  --gap-11xs-5: 1.5px;
  --gap-22xl: 41px;
  --gap-29xl: 48px;
  --gap-3xl-5: 22.5px;
  --gap-lgi: 19px;
  --gap-39xl: 58px;
  --gap-10xl: 29px;
  --gap-19xl-5: 38.5px;
  --gap-4xl-1: 23.1px;
  --gap-14xl: 33px;
  --gap-11xl: 30px;
  --gap-12xs: 1px;
  --gap-xs: 12px;
  --gap-7xs: 6px;
  --gap-8xs: 5px;
  --gap-sm: 14px;
  --gap-55xl: 74px;
  --gap-6xs: 7px;
  --gap-2xl: 21px;
  --gap-9xs: 4px;
  --gap-smi-7: 12.7px;
  --gap-10xs: 3px;
  --gap-2xl-5: 21.5px;
  --gap-2xs-5: 10.5px;
  --gap-smi: 13px;
  --gap-5xs: 8px;
  --gap-21xl: 40px;
  --gap-2xs: 11px;
  --gap-lg: 18px;
  --gap-5xs-5: 7.5px;
  --gap-8xl: 27px;
  --gap-3xl: 22px;
  --gap-7xl: 26px;
  --gap-50xl: 69px;
  --gap-15xl: 34px;
  --gap-33xl: 52px;
  --gap-53xl: 72px;
  --gap-17xl: 36px;
  --gap-49xl: 68px;
  --gap-6xl-5: 25.5px;
  --gap-52xl: 71px;
  --gap-16xl: 35px;
  --gap-9xl: 28px;
  --gap-lgi-6: 19.6px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-2xs: 11px;
  --padding-base: 16px;
  --padding-smi: 13px;
  --padding-16xl: 35px;
  --padding-8xs: 5px;
  --padding-6xs: 7px;
  --padding-10xs: 3px;
  --padding-9xs: 4px;
  --padding-11xs: 2px;
  --padding-8xl: 27px;
  --padding-5xs: 8px;
  --padding-4xl: 23px;
  --padding-7xs-4: 5.4px;
  --padding-mid: 17px;
  --padding-2xl: 21px;
  --padding-71xl: 90px;
  --padding-239xl-5: 258.5px;
  --padding-241xl: 260px;
  --padding-39xl: 58px;
  --padding-46xl: 65px;
  --padding-45xl: 64px;
  --padding-111xl: 130px;
  --padding-110xl: 129px;
  --padding-mid-5: 17.5px;
  --padding-12xs: 1px;
  --padding-6xl: 25px;
  --padding-7xs: 6px;
  --padding-sm: 14px;
  --padding-10xs-5: 2.5px;
  --padding-mini: 15px;
  --padding-35xl-5: 54.5px;
  --padding-41xl: 60px;
  --padding-11xl: 30px;
  --padding-lg: 18px;
  --padding-15xl: 34px;
  --padding-3xl: 22px;
  --padding-4xs: 9px;
  --padding-base-5: 16.5px;
  --padding-3xs: 10px;
  --padding-7xs-5: 5.5px;
  --padding-17xl: 36px;
  --padding-48xl: 67px;
  --padding-22xl: 41px;
  --padding-21xl: 40px;
  --padding-195xl: 214px;
  --padding-120xl: 139px;
  --padding-10xl: 29px;
  --padding-32xl: 51px;
  --padding-18xl: 37px;
  --padding-34xl: 53px;
  --padding-12xl: 31px;
  --padding-9xl: 28px;
  --padding-13xl: 32px;
  --padding-31xl: 50px;
  --padding-5xl: 24px;
  --padding-24xl: 43px;
  --padding-23xl: 42px;
  --padding-xs: 12px;
  --padding-49xl: 68px;
  --padding-102xl: 121px;
  --padding-mini-5: 14.5px;
  --padding-8xs-5: 4.5px;
  --padding-4xs-5: 8.5px;
  --padding-239xl: 258px;
  --padding-7xl: 26px;
  --padding-14xl: 33px;
  --padding-55xl: 74px;
  --padding-59xl: 78px;
  --padding-67xl: 86px;
  --padding-25xl: 44px;
  --padding-37xl: 56px;
  --padding-20xl: 39px;
  --padding-19xl: 38px;
  --padding-26xl: 45px;
  --padding-54xl: 73px;
  --padding-9xs-3: 3.3px;
  --padding-200xl: 219px;
  --padding-90xl: 109px;
  --padding-35xl: 54px;
  --padding-44xl: 63px;
  --padding-36xl: 55px;
  --padding-65xl: 84px;
  --padding-52xl: 71px;
  --padding-lgi: 19px;

  /* Border radiuses */
  --br-7xs: 6px;
  --br-131xl: 150px;
  --br-41xl: 60px;
  --br-11xl: 30px;
  --br-9xs: 4px;
  --br-base: 16px;
  --br-181xl: 200px;
  --br-5xs: 8px;

  /* Effects */
  --button-shadow: 0px 5px 20px rgba(245, 195, 75, 0.15);
  --box-shadow: 0px 10px 50px rgba(4, 30, 66, 0.05);
}
